<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration Form</h1>
<form method="post" action="/register/">
     {% csrf_token %}
    <input type="text" name="un" placeholder="Enter the username"><br>
    <input type="text" name="fn" placeholder="Enter the firstname"><br>
    <input type="text" name="ln" placeholder="Enter the lastname"><br>
    <input type="email" name="mail" placeholder="Enter the email"><br>
    <input type="password" name="pw" placeholder="Enter the password"><br>
    <input type="text" name="cpw" placeholder="Confirm the password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h3>{{msg}}</h3>
{% endfor %}

</body>
</html>